.community-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
  width: 100%;
  box-sizing: border-box;

  .action-bar-container {
    width: 100%;
    min-width: 35rem;
  }

  .content-pad {
    margin-top: 1rem;
    width: 100%;

    .content-container {
      padding: 1rem;
      width: 100%;
      min-width: 35rem;
      box-sizing: border-box;
    }
  }
}