.better-scroll{
  height: 100vh;
  overflow: hidden;
}

.waterfall-container{
  width: 100%;
  display: block;
  position: relative;

  .waterfall-container-item{
    //opacity: 0;
    float: left;
    box-sizing: border-box;
    //animation: 0.2s publicFadeInAndScale ease-in-out forwards;
  }

  .tips{
    position: absolute;
    width: 100%;
    background-color: var(--border-color);
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 576px){
  .better-scroll{
    height: calc(100vh - 13.5rem);
    overflow: hidden;
  }
}