.user-center-fieldset-container {
  border-radius: 1rem;
  border: 0.2rem solid var(--font-color);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 3rem;

  .user-center-fieldset-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem;
  }
}

@media screen and (max-width: 576px){
  .user-center-fieldset {
    padding: 1rem;
  }
}