.with-label-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 2rem;
  margin: 1rem 0;
  flex-direction: column;

  .with-content-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > div:first-child {
    font-weight: 600;
    width: 100%;
    text-align: left;
    word-break: keep-all;
    margin-bottom: 0.5rem;
    min-width: 6rem;
  }
}

@media screen and (max-width: 576px) {
  .with-label-container {
    margin: 0;
    padding: 1rem 0.5rem;

    > div:first-child {
      min-width: 5rem;
      margin-bottom: 0.5rem;
    }
  }
}