.user-center-basic-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.avatar-item {
  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
}

.nickname-item {
  .nickname {
    font-size: 2rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 576px){
  .avatar-item {
    img {
      width: 6rem;
      height: 6rem;
    }
  }
}