body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    overflow-x: hidden;
}

textarea {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

#root {
    position: relative;
}

@media screen and (min-height: 1440px) {
    body, html {
        font-size: 87.5%;
    }
}

