.skin-white {
  --bg-color: rgba(255, 255, 255, 0.8);
  --font-color: rgba(0, 0, 0, 0.8);
  --selected-color: rgba(0, 0, 0, 0.9);

  //导航栏开关主题颜色设置
  --switch-bg-color: rgba(0, 0, 0, 1);
  --switch-slider-color: rgba(255, 255, 255, 1);

}

.skin-black {
  --bg-color: rgba(0, 0, 0, 0.8);
  --font-color: rgba(255, 255, 255, 0.7);
  --selected-color: rgba(255, 255, 255, 0.9);

  //导航栏开关主题颜色设置
  --switch-bg-color: rgba(255, 255, 255, 1);
  --switch-slider-color: rgba(0, 0, 0, 1);

  //所有svg变白色背景
  svg path {
    fill: rgba(255, 255, 255, 0.5);
  }
}

.skin-black, .skin-white {
  --font-size: 1.4rem;
  --border-color: rgba(0, 0, 0, 0.05);
  --introduction-bg-color: rgba(0, 0, 0, 0.8);
  --introduction-font-color: rgba(255, 255, 255, 0.8);
}